@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;

}


nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: black;
    color: white;
    padding: 1rem;
    font-size: 1.4rem;
}

.logo img {
    width: 1.2rem;
    filter: invert(1);

}

ul {
    display: flex;

}

ul li {
    list-style: none;
    padding: 0 1rem;
    font-size: 1.4rem;
}

ul li a {
    color: white;
    text-decoration: none;
}

ul>li>a:hover {
    color: rgb(53, 136, 131);
}

main {
    min-height: 90vh;
}

.container {
    background-color: rgb(240, 240, 240);
    max-width: 80vw;
    margin: auto;
    padding: 1.8rem;
}

.container h1 {
    padding-bottom: 1.2rem;
    padding-top: 1.2rem;
    margin: 0;
}

input[type='text'] {
    width: 20rem;
    height: 2rem;
    padding: 0.2rem;
    border: 2px solid black;
    border-radius: 0.2rem;
}

.btn {
    background-color: black;
    color: white;
    padding: 9px 12px;
    border: 2px solid gray;
    border-radius: 10px;
    cursor: pointer;
}

#resultcontainer div::first-letter {
    text-transform: uppercase;

}

footer {
    font-size: 0.8rem;
    background-color: black;
    color: white;
    display: flex;
    padding: 1rem;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width:600px) {
    body {
        background-color: lightslategray;
    }

    .container {
        font-size: 0.9rem;

    }


    nav {
        flex-direction: column;
        font-size: 1.7rem;

    }

    .logo {
        padding: 1rem;
    }

    .logo img {
        width: 1.6rem;
        filter: invert(1);

    }

    ul>li {
        font-size: 1rem;
    }
}